---
title: Shipped RM Tracked
layout: base-template
pretext: Your order is on its way
courier-image: https://s3-eu-west-1.amazonaws.com/alpkit-email/images/logo-rm.png
courier-link: http://www.royalmail.com/portal/rm/track?trackNumber=$CONSIGNMENT_REF
---

{% include inc_khaos_despatched_message.html %}
{% include inc_khaos_courier_tracking.html %}
{% include inc_khaos_shipped_details.html %}
{% include inc_khaos_customer_details.html %}
{% include inc_order_survey.html %}
{% include inc_footer.html %}
