<table class="row section" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; margin: 0 0 10px; border: 0;">
	<tbody>
		<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
			<td class="section__cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; padding-bottom: 0 0 25px 0; color: #777; border-spacing: 0; border: 0;">
				<table class="container" style="width: 100% !important; text-align: left; border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; max-width: 600px; box-sizing: border-box; margin: 0 auto; border: 0;">
					<tbody>
						<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
							<td class="order-number" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; border: 0; padding-left: 30px; padding-right: 0;">
								<p style="color: #777; line-height: 1.63; font-size: 22px; font-family: 'Barlow',Helvetica,Arial,sans-serif; font-weight: 700; padding-top: 10px; /*max-width: 500px;*/ margin: 0 auto;" align="left">Return number: $RETURN_CODE</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<!-- START RETURN DETAILS -->
<table class="row section" style="width: 100%; border-spacing: 0; border-collapse: collapse; border-top-color: #e5e5e5; border-top-style: solid; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border: 0;">
	<tbody>
		<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
			<td class="section__cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; padding: 0; border: 0;">
				<table class="container" style="width: 100% !important; text-align: left; border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-top-color: #e7e7e7 !important; border-top-style: solid !important; max-width: 600px; box-sizing: border-box; margin: 0 auto; border: 0;">
					<tbody>
						<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
							<td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; padding-left: 30px; padding-right: 30px; border: 0;">
								<table class="row title" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border: 0;">
									<tbody>
										<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
											<td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
												<h3 style="font-weight: bold; font-size: 20px; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: inherit; margin: 0; padding: 0;">You have returned these items:</h3>
											</td>
										</tr>
									</tbody>
								</table>

								<table class="row" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border: 0;">
									<tbody>
										<!-- START $ITEM TEXT SNIPPET -->
										<tr class="order-list__item" style="width: 100%; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
											<td class="order-list__item__cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; border-bottom-color: #e7e7e7; padding: 20px 0; border-style: none none solid; border-width: 0 0 1px;">
												<table style="border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border: 0;">
													<tbody>
														$ITEM_TEXT
													</tbody>
												</table>
											</td>
										</tr>
										<!-- END $ITEM TEXT SNIPPET  -->
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END ORDER RETURN DETAILS -->
