<!-- START $TO_FOLLOW_ITEM_TEXT SNIPPET -->
<tr class="order-list__item" style="width: 100%; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
	<td class="order-list__item__cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; border-bottom-color: #e7e7e7; padding: 20px 0; border-style: none none solid; border-width: 0 0 1px;">
		<table style="border-spacing: 0; border-collapse: collapse; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border: 0;">
			<tbody>
				<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
					<!--<td style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; color: #777; border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
						<img src="https://cdn.shopify.com/s/files/1/0253/1626/1993/products/BOMS-PUSH-01-the_push_compact_cropped.jpg?v=1583265599" align="left" width="68" height="68" class="order-list__product-image" style="margin-right: 15px; border-radius: 0; font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border: 1px solid #e5e5e5;">
					</td>-->
					<td class="order-list__product-description-cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; width: 100%; color: #777; border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
						<span class="order-list__item-title" style="font-size: 16px; font-weight: bold; line-height: 1.4; color: inherit; font-family: 'Barlow',Helvetica,Arial,sans-serif;">$ITEM_NAME&nbsp;×&nbsp;$QTY_TOFOLLOW</span>
						<br style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777;">
					</td>
					<td class="order-list__price-cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; white-space: nowrap; color: #777; border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
						<p class="order-list__item-price" style="color: inherit; line-height: 1.25; font-size: 20px; font-weight: bold; font-family: 'Barlow',Helvetica,Arial,sans-serif; margin: 0 0 0 15px;" align="right">
							$SOI_TOFOLLOW_TOTAL
						</p>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<!-- END $TO_FOLLOW_ITEM_TEXT SNIPPET  -->
