<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif; color: #777; border-spacing: 0; border: 0;">
	<td class="order-list__product-description-cell" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; width: 100%; color: #777; border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
		<span class="order-list__item-title" style="font-size: 16px; font-weight: bold; line-height: 1.4; color: inherit; font-family: 'Barlow',Helvetica,Arial,sans-serif;">$SHORT_DESC&nbsp;×&nbsp;$QTY</span>
	</td>
</tr>
