<!-- START ORDER SHIPPED DETAILS -->
<table class="row section" style="width: 100%; border-spacing: 0; border-collapse: collapse; border-top-color: #e5e5e5; border-top-style: solid; border: 0;">
	<tbody>
		<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
			<td class="section__cell" style="font-family:sans-serif;  border-spacing: 0; padding: 0; border: 0;">
				<table class="container" style="width: 100% !important; text-align: left; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-top-color: #e7e7e7 !important; border-top-style: solid !important; max-width: 600px; box-sizing: border-box; margin: 0 auto; border: 0;">
					<tbody>
						<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
							<td style="font-family:sans-serif;  border-spacing: 0; padding-left: 30px; padding-right: 30px; border: 0;">
								<table class="row title" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border: 0;">
									<tbody>
										<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
											<td style="font-family:sans-serif;  border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
												<h3 style="font-weight: bold; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; color: inherit; margin: 0; padding: 0;">We have shipped these items:</h3>
											</td>
										</tr>
									</tbody>
								</table>

								<!-- START $ITEM TEXT -->
								<table class="row" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border: 0;">
									<tbody>
										{% include email-khaos-itemtext.html %}
										{% include email-khaos-itemtext.html %}
										{% include email-khaos-itemtext.html %}
									</tbody>
								</table>
								<!-- END $ITEM TEXT -->

								<!-- START ORDER TOTALS -->
								<table class="row subtotal-lines" style="width: 100%; border-spacing: 0; border-collapse: collapse; margin-top: 20px; border-top-color: #e5e5e5; border-top-style: solid; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border: 0;">
									<tbody>
										<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
											<td style="font-family:sans-serif;  border-spacing: 0; padding-left: 0; padding-right: 0; border-top-color: #e7e7e7; border-bottom-color: #e7e7e7; padding: 0; border-style: solid none solid; border-width: 1px 0 1px;">
												<table class="row subtotal-table" style="width: 100%; border-spacing: 0; border-collapse: collapse; margin-top: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border: 0;">

													<tbody>
														<tr class="subtotal-line" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
															<td class="subtotal-line__title" style="font-family:sans-serif;  border-spacing: 0; padding: 5px 0; border: 0;">
																<p style=" line-height: 1.2em; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 0;">
																	<span style="font-size: 16px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; ">Subtotal</span>
																</p>
															</td>
															<td class="subtotal-line__value" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; padding: 5px 0; border: 0;" align="right">
																$GROSS_TOTAL
															</td>
														</tr>

														<tr class="subtotal-line" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
															<td class="subtotal-line__title" style="font-family:sans-serif;  border-spacing: 0; padding: 5px 0; border: 0;">
																<p style=" line-height: 1.2em; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 0;">
																	<span style="font-size: 16px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; ">Shipping</span>
																</p>
															</td>
															<td class="subtotal-line__value" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; padding: 5px 0; border: 0;" align="right">
																$DELIVERY_TOTAL
															</td>
														</tr>

														<tr class="subtotal-line" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
															<td class="subtotal-line__title" style="font-family:sans-serif;  border-spacing: 0; padding: 5px 0; border: 0;">
																<p style=" line-height: 1.2em; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 0;">
																	<span style="font-size: 16px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; ">VAT</span>
																</p>
															</td>
															<td class="subtotal-line__value" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; padding: 5px 0; border: 0;" align="right">
																$TAX_TOTAL
															</td>
														</tr>

													</tbody>
												</table>
												<table class="row subtotal-table subtotal-table--total" style="width: 100%; border-spacing: 0; border-collapse: collapse; margin-top: 8px; border-top-color: #e5e5e5; border-top-style: solid; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border: 0;">
													<tbody>
														<tr class="subtotal-line" style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
															<td class="subtotal-line__title" style="font-family:sans-serif;  border-spacing: 0; padding: 0; border: 0;">
																<p style=" line-height: 1.2em; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 0;">
																	<span style="font-size: 22px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  font-weight: bold; padding: 0;">Total</span>
																</p>
															</td>
															<td class="subtotal-line__value" style="font-family:sans-serif;  border-spacing: 0; font-size: 22px; font-weight: bold; padding: 0; border: 0;" align="right">
																$INVOICE_TOTAL
															</td>
														</tr>
													</tbody>
												</table>
												<!-- <p class="total-discount" style=" line-height: 1.1; font-size: 14px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; font-weight: bold; margin: 0;" align="left">
													You saved <span class="total-discount--amount" style="font-size: 14px;  font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; font-weight: bold;">£5.00</span></p>-->

											</td>
										</tr>
									</tbody>
								</table>
								<!-- END ORDER TOTALS -->

								<!-- START PADDING -->
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ee_element ee_spacer col-font-reset" ee-type="element" data-title="Spacer">
									<tbody>
										<tr>
											<td style="font-size: 1px; line-height: 1px;"><img src="https://i.emlfiles.com/cmpimg/t/s.gif" style="display: block; width: 1px; height: 20px;" alt="" class="" border="0" width="1" height="20"></td>
										</tr>
									</tbody>
								</table>
								<!-- END PADDING -->

								<table class="row title" style="width: 100%; border-spacing: 0; border-collapse: collapse; border: 0;">
									<tbody>
										<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0;">
											<td style="font-family:sans-serif;  border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
												<h3 style="font-weight: bold; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; color: inherit; margin: 0; padding: 0;">Items to follow:</h3>
											</td>
										</tr>
									</tbody>
								</table>



								<!-- START $TO_FOLLOW_ITEM_TEXT -->
								<table class="row" style="width: 100%; border-spacing: 0; border-collapse: collapse; border: 0;">
									<tbody>
										{% include email-khaos-itemtofollowtext.html %}
										{% include email-khaos-itemtofollowtext.html %}
									</tbody>
								</table>
								<!-- END $TO_FOLLOW_ITEM_TEXT -->
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END ORDER SHIPPED DETAILS -->
