<!-- START ORDER CONFIRMATION MESSAGE -->
<table class="row section" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif;  margin: 0 0 10px; border: 0;">
	<tbody>
		<tr style="font-family: Helvetica,Arial,sans-serif;  border-spacing: 0; border: 0;">
			<td class="content__cell" style="font-family: sans-serif;  border-spacing: 0; border: 0;">
					<table class="container" style="width: 100% !important; text-align: center; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif;  max-width: 600px; box-sizing: border-box; margin: 0 auto; border: 0;">
						<tbody>
							<tr style="font-family: Helvetica,Arial,sans-serif;  border-spacing: 0; border: 0;">
								<td style="font-family: sans-serif;  border-spacing: 0; border: 0;">
									<table class="row" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif;  border: 0;">
										<tbody>
											<tr style="font-family: 'Barlow',Helvetica,Arial,sans-serif;  border-spacing: 0; border: 0;">
												<td class="email-title" style="font-family: Helvetica,Arial,sans-serif,'SUBHEAD';  border-spacing: 0; border: 0;">
													<h2 style="font-weight: 700; font-size: 32px; font-family: Helvetica,Arial,sans-serif,'SUBHEAD'; color: #333; margin: 0 0 10px;">THANKS FOR YOUR ORDER</h2>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
			</td>
		</tr>
		<tr style="font-family: Helvetica,Arial,sans-serif;  border-spacing: 0; border: 0;">
			<td class="section__cell" style="font-family: sans-serif; padding-bottom: 0 0 25px 0;  border-spacing: 0; border: 0;">
				<table class="container" style="width: 100% !important; text-align: left; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif;  max-width: 600px; box-sizing: border-box; margin: 0 auto; border: 0;">
					<tbody>
						<tr style="font-family: Helvetica,Arial,sans-serif;  border-spacing: 0; border: 0;">
							<td style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT';  border-spacing: 0; border: 0; padding-left: 30px; padding-right: 0;">
								<p style=" line-height: 1.63; font-size: 18px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; /*max-width: 500px;*/ margin: 0 auto;" align="left">
									Hi $FORENAME, we have received your order $ASSOCIATED_REF placed on $SORDER_DATE.
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- END ORDER CONFIRMATION MESSAGE -->
