<!-- START TRACKING -->
<table class="row section" style="width: 100%; border-spacing: 0; border-collapse: collapse; border-top-color: #e5e5e5; border-top-style: solid; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; border: 0;">
	<tbody>
		<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; border-spacing: 0; border: 0;">
			<td class="section__cell"
				style="font-family: sans-serif; border-spacing: 0; padding: 0; border: 0;">
				<center style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; ">
					<table class="container"
						style="width: 100% !important; text-align: left; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; border-top-color: #e7e7e7 !important; border-top-style: solid !important; max-width: 600px; box-sizing: border-box; margin: 0 auto; border: 0;">
						<tbody>
							<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; border-spacing: 0; border: 0;">
								<td
									style="font-family: sans-serif; border-spacing: 0; padding-left: 30px; padding-right: 30px; border: 0;">
									<table class="row" style="width: 100%; border-spacing: 0; border-collapse: collapse; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; border: 0;">
										<tbody>
											<tr style="font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; border-spacing: 0; border: 0;">
												<td style="padding-top: 40px; font-family: sans-serif; border-spacing: 0; padding-left: 0; padding-right: 0; border: 0;">
													<img src="{{ page.courier-image }}" editable="true" border="0" width="120" alt="Courier">
												</td>
												{% if page.untracked == "I am untracked" %}
												<td style="padding-top: 40px; font-family: sans-serif; border-spacing: 0; padding-left: 20px; padding-right: 0; border: 0;">
													<h3 style="font-weight: bold; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; color: inherit; margin: 0; padding: 0;">SENT BY ROYAL MAIL</h3>
													<p style="line-height: 1.25; font-size: 12px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 15px 0 0;">Your order has been sent by Royal Mail on an untracked service with a target delivery time of 3-5 days from despatch.</p>
												</td>
												{% else %}
												<td style="padding-top: 40px; font-family: sans-serif; border-spacing: 0; padding-left: 20px; padding-right: 0; border: 0;">
													<h3 style="font-weight: bold; font-size: 20px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; color: inherit; margin: 0; padding: 0;">YOUR TRACKING NUMBER</h3>

													<p style="line-height: 1.25; font-size: 18px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 0;"><a href="{{ page.courier-link }}"><b>$CONSIGNMENT_REF</b></a></p>
													<p style="line-height: 1.25; font-size: 12px; font-family: Helvetica,Arial,sans-serif,'BODYTEXT'; margin: 15px 0 0;">Click the link above to see the progress of your package.<br />Note: It may take a couple of hours after you receive this email before the courier scans your package in at their depot.</p>
												</td>
												{% endif %}
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</center>
			</td>
		</tr>
	</tbody>
</table>
<!-- END TRACKING -->
<!-- START PADDING -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="ee_element ee_spacer col-font-reset" ee-type="element" data-title="Spacer">
	<tbody>
		<tr>
			<td style="font-size: 1px; line-height: 1px;"><img src="https://i.emlfiles.com/cmpimg/t/s.gif" style="display: block; width: 1px; height: 30px;" alt="" class="" border="0" width="1" height="20"></td>
		</tr>
	</tbody>
</table>
<!-- END PADDING -->
