---
title: Shipped DHL
layout: email-khaos
courier-image: https://s3-eu-west-1.amazonaws.com/alpkit-email/images/logo-dhl.png
courier-link: http://www.dhl.co.uk/en/express/tracking.html?AWB=$CONSIGNMENT_REF&amp;brand=DHL
---
{% include email-khaos-header.html %}
{% include email-khaos-message-order-despatched.html %}
{% include email-khaos-courier-tracking.html %}
{% include email-khaos-shipped-order-details.html %}
{% include email-khaos-customer-details.html %}
{% include email-khaos-footer.html %}
